<div *ngIf="isLoggedIn()" class="header">

  <!-- Left: Hamburger (only on mobile & sidebar closed) -->
  <div class="header-left">
    <i *ngIf="!sidebarOpen && isMobileView"
       class="pi pi-bars hamburger-btn" 
       (click)="toggleSidebar()"></i>
  </div>

  <!-- Center: Header Title -->
  <div class="header-title">
    <h5 class="m-0">{{ headerTitle }}</h5>
  </div>

  <!-- 🔔 Notification bell (mobile only) -->
  <ng-container *ngIf="subscriptionExpiring">
    <div class="notification-wrapper bell-mobile" (click)="showSubscriptionPopup()">
      <i class="pi pi-bell notification-bell"
         title="Your subscription is about to expire"></i>
      <span class="pulse-dot"></span>
    </div>
  </ng-container>

  <!-- Right Section: Bell + Username + Logout (desktop only) -->
  <div class="header-right d-none d-lg-flex align-items-center position-relative">

    <!-- 🔔 Notification bell (desktop clickable) -->
    <ng-container *ngIf="subscriptionExpiring">
      <div class="notification-wrapper bell-desktop" (click)="showSubscriptionPopup()">
        <i class="pi pi-bell notification-bell"
           title="Your subscription is about to expire"></i>
        <span class="pulse-dot"></span>
      </div>
    </ng-container>


    <!-- Username -->
    <span class="username-text">{{ username }}</span>

    <!-- User Icon -->
    <i class="pi pi-user user-icon" (click)="togglePopup()" tabindex="0"></i>

    <!-- Popup -->
    <div class="custom-popup-menu"
         [@popupAnimation]="popupVisible ? 'visible' : 'hidden'">
      <ul>
        <li  #logoutItem class="logout-btn" (click)="logout()" tabindex="0">
          <i class="pi pi-sign-out me-2"></i> Logout
        </li>
      </ul>
    </div>
  </div>
</div>
