<div *ngIf="isMaintenanceMode" class="maintenance-screen">
  <div class="maintenance-content">
    <h1>🚧 Site Under Maintenance 🚧</h1>
    <p>We're currently performing scheduled maintenance to improve our services.</p>
    <p>Expected downtime: 2 hours</p>
  </div>
</div>

<!-- Login Page -->
<div *ngIf="isLoginPage" class="login-wrapper">
  <router-outlet></router-outlet>
  <app-loader></app-loader>
</div>

<!-- Normal App Layout -->
<div *ngIf="!isMaintenanceMode && !isLoginPage" class="app-wrapper d-flex">
  <app-sidebar #sidebar></app-sidebar>
  <div class="main-content">
    <app-header (sidebarToggle)="sidebar.toggleSidebar()"></app-header>


    <app-loader></app-loader>
    <div class="content-wrapper p-3">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer> 
  </div>
  
</div>
