<div *ngIf="isLoggedIn()" class="sidebar px-3 py-3" style="background-color: #1f1f1f; color: white;">
  <h4 class="mb-4">Gym Management</h4>

  <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>

  <!-- Show only for admin -->
  <a *ngIf="userrole === 'admin'" routerLink="/members" routerLinkActive="active">Members</a>

  <a routerLink="/plans" routerLinkActive="active">Plans</a>

  <!-- Show only for admin -->
  <a *ngIf="userrole === 'admin'" routerLink="/payments" routerLinkActive="active">Payments</a>
</div>
