.sidebar {
  background-color: #1f1f1f;
  color: white;
  padding: 20px 10px;
  width: 220px;
  height: 100vh;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  padding: 10px 8px;
  text-decoration: none;
  transition: background 0.3s;
}

.sidebar a:hover {
  background-color: #333;
  border-radius: 4px;
}



.sidebar a span {
  transition: opacity 0.2s;
  white-space: nowrap;
}

.toggle-btn {
  cursor: pointer;
  margin-bottom: 20px;
  text-align: right;
  padding-right: 10px;
}

.sidebar-title {
  margin-bottom: 20px;
  font-size: 1.2rem;
}
