<!-- Summary Cards -->
<div  class="dashboard-grid" *ngIf="isAdmin">
    <p-card header="Total Members">
      <p>{{ totalMembers }}</p>
    </p-card>
  
    <p-card header="Active Members">
      <p>{{ activeMembers }}</p>
    </p-card>
  
    <p-card header="Expired Members">
      <p>{{ expiredMembers }}</p>
    </p-card>
  
    <p-card header="New This Month">
      <p>{{ newMembersThisMonth }}</p>
    </p-card>
  </div>
  
  <!-- Graph -->
  <div class="mt-4" *ngIf="isAdmin">
    <p-card header="New Members Trend">
      <p-chart type="bar" [data]="memberChartData" [options]="memberChartOptions"></p-chart>
    </p-card>
  </div>