<h2 class="text-center text-white mt-4">Gym Membership Plans</h2>

<div class="dashboard-grid mt-4">
  <div *ngFor="let plan of plans" class="pricing-card dark-theme">
    <div class="price-tag">
      {{ plan.currency }}{{ plan.price }}
      <span class="per">/month</span>
    </div>
    <h3 class="plan-title">{{ plan.name }}</h3>

    <ul class="plan-features">
      <li *ngFor="let feature of plan.features">
        <span>{{ feature.text }}</span>
        <span [ngClass]="feature.available ? 'check' : 'cross'">
          {{ feature.available ? '✔' : '✘' }}
        </span>
      </li>
    </ul>

    <!-- <button 
      pButton 
      label="Purchase" 
      class="purchase-btn"
      (click)="openCheckout(plan)">
    </button> -->
  </div>
</div>
